section.card{
  width: 782px;
  margin-top: 8px;
  background-color: var(--fundo-card);
  border-radius: .8rem;
  line-height: 1.25;
}

.card.informacoes-perfil{
  font-size: 62.5%;
  margin-top: 1.6rem;
}

.informacoes-perfil .perfil-capa img{
  width: min(100%, 782px);
  height: 196px;
  object-fit: cover;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
}

.perfil-foto-wrap,
.perfil-detalhes-wrap,
.perfil-conexoes,
.perfil-acoes {
  padding: 8px 24px 0;
}
.perfil-foto-wrap{
  display: flex;
  justify-content: space-between;
}
.perfil-foto img{
  width: 156px;
  height: 156px;
  margin-top: -112px;
  border: 4px solid var(--fundo-card);
  border-radius: 50%;
}

.perfil-notificacao{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: .25s ease;
  cursor: pointer;
}
.perfil-notificacao:hover{
  background-color: var(--fundo-card-ativo);
}

.perfil-detalhes-wrap{
  display: grid;
  grid-template-areas:
    "pessoal carreira"
    "local carreira";
}

.perfil-detalhes-pessoal{
  grid-area: pessoal;
}
.perfil-detalhes-pessoal h1{
  font-size: 2.4em;
}
.perfil-detalhes-pessoal div{
  font-size: 1.6em;
}
.perfil-detalhes-pessoal div.texto-pequeno{
  font-size: 1.4em;
  color: var(--texto-secundario);
}

.perfil-detalhes-carreira{
  grid-area: carreira;
}

ul.perfil-detalhes-carreira li a{
 display: flex;
 align-items: center;
 margin-bottom: .6rem;
}

ul.perfil-detalhes-carreira li a img{
  width: 32px;
  height: 32px;
  margin-right: .6rem;
}

.perfil-detalhes-local{
  grid-area: local;
  font-size: 1.4em;
}
.perfil-detalhes-local .local-contato{
  position: relative;
}

.perfil-conexoes{
  display: flex;
  position: relative;
  padding-top: 4px;
  font-size: 1.4em;
  color: var(--primario);
}

.perfil-conexoes li:last-child,
.perfil-detalhes-local .local-contato{
  margin-left: .6rem;
}
.perfil-detalhes-local .local-contato::before,
.perfil-conexoes li:last-child::before{
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  top: 50%;
  transform: translate(-250%,-50%);
  background: gray;
}

.perfil-acoes{
  padding: 8px 24px 24px;
}
.perfil-acoes button:last-child{
  margin-left: .6rem;
}