@import url('../globals/reset.css');

:root{
  --black-01: #141414;
  --white-01: #e5e5e5;
  --correct: #58b31c;
  --incorrect: #af2f2f;
  --blue-01: #367dad;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--black-01);
  color: var(--white-01);
}

body.correct{
  background: var(--correct);
}

body.incorrect{
  background: var(--incorrect);
}

main{
  width: 700px;
  background: var(--white-01);
  margin: 0 2rem;
  border-radius: .5rem;
  filter: drop-shadow(0 0 4px #FFFFFF60);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#question{
  color: var(--black-01);
  font-weight: bold;
  font-size: 1.2rem;
  padding: .5rem .5rem 0 .5rem;
}

.btn-grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.btn{
  width: 420px;
  background: var(--blue-01);
  color: var(--white-01);
  padding: .75rem;
  margin: 0.5rem;
  font-size: 1.25rem;
  border: 1px solid var(--black-01);
  border-radius: .5rem;
  transition: .25s ease;
}

.btn:hover{
  border: 1px solid;
  filter: brightness(.95);
}

.btn.correct{
  background: var(--correct);
}

.btn.incorrect{
  background: var(--incorrect);
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn, .next-btn{
  font-weight: bold;
  font-size: 1.75rem;
  padding: 1.75rem;
}

.hide{
  display: none;
}